<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoPerfumeria.png" />

	<title> L'Essence </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<!-- Header -->
	<% if (locals.user ) {%>
		<%- include("./partials/headerLogueado", {usuario: locals.user}) %>
			<% }else {%>
				<%- include("./partials/header") %>
					<%}%>
						<!-- /Header -->

						<!-- Novedades -->
						<div class="container products-wrapper">
							<div class="row">
								<div class="col-12">
									<h2 class="products-title">Resultados de busqueda</h2>
								</div>
								<!-- Muestra lo que busco en el buscador -->
								<div class="col-12">
        <% if (productos.length === 0) { %>
          <p>No hay resultados para su criterio de búsqueda</p>
        <% } else { %>
          <% for (let i = 0; i < productos.length; i++) { %>
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="producto">
                <a href="/products/id/<%= productos[i].id %>">
                  <figure class="product-box_image">
                    <img src="<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
                  </figure>
                  <article class="product-box_data">
                    <h2><%= productos[i].nombre %></h2>
                    <p><%= productos[i].descripcion %></p>
                    <p>Cantidad de comentarios: <%= productos[i].comentarios.length %></p>
                    <p>
                      Cargado por:
                      <a href="/users/profile/<%= productos[i].usuario.id %>">
                        <%= productos[i].usuario.usuario %>
                      </a>
                    </p>
                  </article>
                </a>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>

									<!-- footer -->
									<%- include("./partials/footer") %>
										<!-- /footer -->
</body>

</html>